:root {
  --nav-background-color: #4D394B;
  --nav-text-color: #A595A3;
  --chat-background-color: #FFF;
  --input-border-color: #BBBDBF;
  --input-text-color: #9F9F9F;
  --time-text-color: #A5A5AC;
  font-size: 62.5%;
  font-family: -apple-system, BlinkMacSystemFont, avenir, sans-serif;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.page-container {
  display: flex;
  margin: 0;
  font-size: 1.6rem;
}

.navigation {
  flex: 1;
  background-color: var(--nav-background-color);
  color: var(--nav-text-color);
}

.chat-window {
  flex: 4;
  background-color: var(--chat-background-color);
}

.navigation,
.chat-window {
  padding: 1rem;
}

.chat-window {
  display: flex;
  flex-direction: column;
}

.messages {
  flex: 1;
}

.chat-heading {
  margin-top: 0;
}

.message-container {
  display: flex;
  align-items: flex-end;
  margin: 0;
}

.message-metadata {
  margin-bottom: 0;
}

.message-metadata:first-of-type {
  margin-top: 0;
}

.message-username {
  font-weight: bold;
}

.message-time {
  font-size: 1.2rem;
  color: var(--time-text-color);
  margin-left: .4rem;
}

.message-text {
  margin-top: .2rem;
  font-size: 1.4rem;
}

.navigation-heading {
  margin-top: 0;
  text-transform: uppercase;
}

.channel-link-container {
  padding: 0;
  list-style-type: none;
}

.channel-link {
  color: inherit;
  text-transform: capitalize;
}

.message-input {
  border-color: var(--input-border-color);
  border-width: 2px;
  border-style: solid;
  border-radius: 3px;
  color: var(--input-text-color);
  font-size: 1.2rem;
  flex: 1;
  padding: 1rem 1.1rem;
}

.message-send {
  margin-left: .5rem;
}

